@model WebDiabloMvc.Models.PersonajeViewModel

@{
    ViewData["Title"] = "Paginas Personajes";
}

@using (Html.BeginForm("Index","Personaje", FormMethod.Post) ) 
{
    <div class="filtroP-container">
        <div class="filtroP-Nombre"> 
            <label> Nombre</label>
            @Html.EditorFor(Model => Model.Filtro.Filtro_Nombre)
        </div>
        <div class="filtroP-Clase">    
            <label>Clase</label>
            @Html.DropDownListFor(Model => Model.Filtro.Filtro_Clase, new SelectList(Model.DropClases), "--Selected--")
        </div>
        <div class="filtroP-Lvl">
            <label>Lvl</label>
            @Html.EditorFor(Model => Model.Filtro.Filtro_Lvl)
        </div>
        <input type="submit" value="Filtrar">
    </div>
}

<div class="text-center">
    <h1 class="display-4">Tabla de Personajes Diablo</h1>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Clase</th>
            <th scope="col">Level</th>
            <th scope="col">Xp</th>
            <th scope="col">Vida</th>
            <th scope="col">Mana</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personaje in Model.Personajes)
        {
            <tr>
                <td>@personaje.Persj_Nombre</td>
                <td>@personaje.Clase.Cls_Nombre</td>
                <td>@personaje.Persj_Lvl</td>
                <td>@personaje.Persj_Xp</td>
                <td>@personaje.Persj_HP</td>
                <td>@personaje.Persj_Mp</td>
            </tr>
        }
    </tbody>
</table>
